<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	div{
		margin : 0 auto;
		width: 1000px;
	}
	
	table{
		width: 100%;
	}
	button {
		margin-top:10px;
		width: 50%;
	}
	button.register-ready{
		width:100%;
	}
	div.register-wrap{
		display:none;
	}
</style>
</head>
<body>
	<div>
		
		<button type="button" class="register-ready">상품 추가</button>
		<div class="register-wrap" th:object="${productForm}">
			<div>
				<input type="text" th:field="*{productName}" placeholder="상품 이름">
			</div>
			
			<div>
				<input type="text" th:field="*{productStock}" placeholder="상품 재고">
			</div>
			
			<div>
				<input type="text" th:field="*{productPrice}" placeholder="상품 가격">
			</div>
			
			<input type="button" class="register-done" value="등록">

		</div> 

	<table border="1" >
		<tr>
			<th>주문여부</th>
			<th>주문갯수</th>
			<th>상품ID</th>
			<th>상품이름</th>
			<th>상품재고</th>
			<th>상품가격</th>
			<th>등록날짜</th>
			<th>수정날짜</th>
		</tr>
		<tr th:each="list : ${list}" th:object="${list}">
			<td align="center"><input type="radio" name="productId"  th:value="*{productId}"></td>
			<td><input type="text" class="productCount" readonly></td>
			<td th:text="*{productId}"></td>
			<td th:text="*{productName}"></td>
			<td th:text="*{productStock}"></td>
			<td th:text="*{productPrice}"></td>	
			<td th:text="*{registerDate}"></td>	
			<td th:text="*{updateDate}"></td>	
		</tr>
	</table>
	
	<button type="button" id="order-done" >주문완료</button><button type="button" onclick="location.href='/order/list'">리스트</button>
	</div>
	
	<form th:action="@{/order/done}" method="get" name="order-form">
		productId : <input type="text" name="productId">
		productCount : <input type="text" name="productCount">
	</form>

</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
	const $radios = $("input[type='radio']"); // input태그 중 type속성이 radio인 모든 태그 선택
	const $inputs = $("input[class='productCount']"); // input태그 중 class속성이 productCount인 모든 태그 선택
	const $done = $("#order-done"); // id속성이 order-done인 태그 선택
	const $form = $("form[name='order-form']"); // name속성이 order-form인 form 태그 선택	
	let $temp, i; //$temp 는 임시로 사용할 변수 , i 는 선택된 라디오버튼의 index값을 저장
	
	const $registerReady = $("button.register-ready");
	const $registerDone = $("input.register-done");
	
	$registerReady.on("click",function(){
		
		$(this).hide();
		$("div.register-wrap").show();
		
		
	})
	
	$registerDone.on("click",function(){
		
		$("div.register-wrap").hide();
		$registerReady.show();
		
	})
	
	
	$radios.on('click',function(){ // radio버튼의 클릭 이벤트를 처리할 함수
		i = $radios.index(this); // 변수 i에다 선택한 라디오버튼의 index값을 저장한다
		
		
		
		if($temp){ //$temp 는 현재 아무것도 정의 되어있지않다 자바스크립트에서는 아무것도 없을때 null 이 아닌 undefined(false) 상태이다 
			$temp.prop("readOnly",true) // 변수를 사용하여 이전에 선택된 입력필드를 확인하고 , readOnly 를 true로 설정해서 읽기전용으로 변경
			$temp.val('')
		}
		
		$inputs.eq(i).prop("readOnly",false) // 클릭된 라디오 버튼에 해당하는 입력 필드를 선택, readOnly 속성을 false로 바꿔준다
		$temp = $inputs.eq(i); // $temp 변수에 선택된 입력필드를 저장한다
	});
	
	$done.on('click', function(){//order-done 버튼의 클릭 이벤트를 처리하는 함수
	
		console.log(typeof(i)) // 0 일때 number이면 undefined 라 값이 false가 된다 
	
		if(i == 0){
			i="0";
		}
		
		console.log(typeof(i)) // String으로 바꿔줘서 값이 0으로 자동 인식되게 해준다 (자바스크립트라 가능)
			
		if(i){
			
			$form.find("input[name='productId']").val($radios.eq(i).val());
			//form 내에서 name이 productId인 input태그를 선택하고 , 선택된 라디오 버튼의 값을 준다
			$form.find("input[name='productCount']").val($inputs.eq(i).val());
			//form 내에서 name이 productCount 인 input태그를 선택하고 선택된 입력필드의 값을 준다.
			console.log($form.find("input[name='productId']").val())
			console.log($form.find("input[name='productCount']").val())
			$form.submit(); // 폼 제출
		}
	})

</script>





</html>