<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korea.rest.mapper.OrderMapper">

<insert id="insert">
	insert into "ORDER" (order_id , product_id , product_count)
	values (
		seq_order.nextval,
		#{productId},
		#{productCount}
	)
</insert>

<select id="selectAll" resultType="orderDTO">
	select p.product_id, p.product_name, p.product_stock, p.product_price, p.register_date , p.update_date ,
	 o.order_id , o.product_count , o.order_date , product_price * product_count as order_price
	from product p join "ORDER" o on p.product_id = o.product_id
	<choose>
		<when test="sort == 'recent'.toString()">
			ORDER BY  o.order_date DESC
		</when>
		<otherwise>
			ORDER BY order_price DESC
		</otherwise>
	</choose>
	
</select>
	
	
</mapper>